<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.template.module.mapper.FileMapper">

    <resultMap id="BaseResultMap" type="com.example.template.module.domain.entity.File">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="uniqueKey" column="unique_key" jdbcType="VARCHAR"/>
            <result property="fileName" column="file_name" jdbcType="VARCHAR"/>
            <result property="fileOriginalName" column="file_original_name" jdbcType="VARCHAR"/>
            <result property="fileSuffix" column="file_suffix" jdbcType="VARCHAR"/>
            <result property="fileSize" column="file_size" jdbcType="BIGINT"/>
            <result property="fileUrl" column="file_url" jdbcType="VARCHAR"/>
            <result property="fileStorageType" column="file_storage_type" jdbcType="VARCHAR"/>
            <result property="gmtCreate" column="gmt_create" jdbcType="TIMESTAMP"/>
            <result property="gmtModified" column="gmt_modified" jdbcType="TIMESTAMP"/>
            <result property="isDeleted" column="is_deleted" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,unique_key,file_name,
        file_original_name,file_suffix,file_size,
        file_url,file_storage_type,gmt_create,
        gmt_modified,is_deleted
    </sql>
</mapper>
